* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    padding: 2vw;
    width: 30vw;
}

body {
    background-color: #14171d;
}

#time {
    position: absolute;
    top: 6vw;
    left: 10vw;
    font-size: 5vw;
    color: gray;
    transition: all 0.3s ease;
}

#time:hover {
    color: white;
}

#date {
    position: absolute;
    top: 12vw;
    left: 19vw;
    font-size: 2vw;
    color: rgb(148, 147, 147);
    transition: all 0.3s ease;
}

#date:hover {
    color: white;
}

#UNIXtime {
    position: absolute;
    top: 6vw;
    left: 60vw;
    font-size: 5vw;
    color: gray;
    transition: all 0.3s ease;
}

#UNIXtime:hover {
    color: white;
}

.UNIXtime-intro {
    position: absolute;
    top: 20vw;
    left: 57vw;
    text-align: center;
    color: white;
}

.origin {
    position: absolute;
    top: 35vw;
    left: 6vw;
    text-align: center;
    color: white;
}

.advantages {
    position: absolute;
    top: 45vw;
    left: 57vw;
    text-align: center;
    color: white;
}

.footer {
    text-align: center;
    display: inline;
}

.links > a {
    font-size: 1vw;
    padding: 5vw;
    color: #74a1fb;
    text-decoration: none;
    transition: all 0.3s ease;
}

.links > a:hover {
    text-decoration: underline;
    color: #3e6cc9;
}


